/*------------------- reset------------------------ */
*{
    margin: 0;
    padding: 0;
}

/*------------------- container------------------------ */
#container{
    width: 100vw;
    height: 100vh;
    background-color: #e66767;
}
/*------------------- header------------------------ */
#hd{
    width: 100%;
    height: 10vh;
    background-color: #6767e6;
    display: flex;
    gap: 1vw;
    justify-content: center;
    /*align-items: center;*/
}

.hd__section{
    border: 1px solid #0e0e0e;
  /*  height: 10vh;  */
  /*  width: 33vw; */
}

#hd__section0{
   /* width: 15vw; */
    flex:2 ; 
}
#hd__section1{
 /*   width: 60vw; */
   flex: 6;
}
#hd__section2{
  /*  width: 25vw;  */
    flex: 2;
}

/*------------------- main------------------------ */
#main{
    width: 100%;
    height: 70vh;
    background-color: #b0b021;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 15vh 40vh 15vh;
    grid-template-areas: 
    "mn01 mn02"
    "mn01 mn03"
    "mn01 mn04";
}

#mn__section0{
   grid-area: mn01;
    background-color: #5ad35a2d;
}
#mn__section1{
   grid-area: mn02;
    background-color: #e6d567;
}
#mn__section2{
    grid-area: mn03;
    background-color: #6767e6;
}
#mn__section3{
    grid-area: mn04;
    background-color: #e667b7;
}


/*------------------- footer------------------------ */
#ft{
    width: 100%;
    height: 20vh;
    background-color: #b1b6c9;
    display: flex;
    flex-direction: column;
}
.ft__section{
    border: 1px solid #0e0e0e;
}

#ft__section0{
    flex: 2;
}
#ft__section1{
    flex: 2;
}

/*-----------------------Media Query----------------------*/
/*-----------------------small screen----------------------*/

@media screen and (max-width: 768px) {

* {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }
   #hd{
    width: 100%;
    height: 10vh;
    background-color: #6767e6;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
   /* align-items: center;*/
}
.hd__section{
    border: 1px solid #0e0e0e;
}

#hd__section0{
   /* width: 15vw; */
    flex:2 ; 
}
#hd__section1{
 /*   width: 60vw; */
   flex: 6;
}
#hd__section2{
  /*  width: 25vw;  */
    flex: 2;
}


#main{
    width: 100%;
    height: auto;
    background-color: #b0b021;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 9fr 5fr;
    grid-template-areas: 
    "mn01 "
    "mn02 "
    "mn03 "
    "mn04";
}

#mn__section0{
   grid-area: mn01;
    background-color: #5ad35a2d;
    min-height: 20vh;
}
#mn__section1{
   grid-area: mn02;
    background-color: #e6d567;
}
#mn__section2{
    grid-area: mn03;
    background-color: #6767e6;
}
#mn__section3{
    grid-area: mn04;
    background-color: #e667b7;
}

}

/*-----------------------medium screen----------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    #hd{
    width: 100%;
    height: 10vh;
    background-color: #6767e6;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
   /* align-items: center;*/
}
.hd__section{
    border: 1px solid #0e0e0e;
}

#hd__section0{
   /* width: 15vw; */
    flex:2 ; 
}
#hd__section1{
 /*   width: 60vw; */
   flex: 6;
}
#hd__section2{
  /*  width: 25vw;  */
    flex: 2;
}


#main{
    width: 100%;
    height: auto;
    background-color: #b0b021;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 9fr 5fr;
    grid-template-areas: 
    "mn01 mn01"
    "mn02 mn02"
    "mn03 mn03"
    "mn04 mn04";
}

#mn__section0{
   grid-area: mn01;
    background-color: #5ad35a2d;
    min-height: 20vh;
}
#mn__section1{
   grid-area: mn02;
    background-color: #e6d567;
}
#mn__section2{
    grid-area: mn03;
    background-color: #6767e6;
}
#mn__section3{
    grid-area: mn04;
    background-color: #e667b7;
}

}